/* cphome搜索匡 */
form.example {
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
}

form.example input[type="text"] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(170, 164, 164);
    width: 60%;
    background: white;
    border-radius: 10px 0 0 10px;
}

form.example button {
    width: 20%;
    padding: 1%;
    height: 45px;
    background: #b1bba0;
    color: #664c43;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

form.example button:hover {
    background: #d8ddcf;
    color: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
