h1 {
    color: #664c43;
    margin: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0;
}

.column1 {
    width: 60%;
    margin-left: 5%;
}

/* 內文 */
#imgDiv {
    margin: 20px 0;
}

#imgDiv>img {
    width: 100%;
}

#content {
    background-color: #d8ddcf;
    padding: 40px;
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: relative;
    color: #1e232d;
    border-radius: 20px;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

.author span {
    font-size: 24px;
    margin-left: 20px;
}

#heartHref {
    /* display: inline-block; */
    position: absolute;
    top: 2.5%;
    left: 85%;
    color: rgb(78, 77, 77);
    font-size: 40px;
    cursor: pointer;
}

#heartHref:hover {
    color: #d64045;
    font-size: 40px;
}

#content>div:nth-child(1)>a:visited {
    /* color: rgb(2, 2, 2); */
    font-size: 45px;
}

.text-danger {
    color: rgb(231, 30, 70) !important;
}

.date {
    margin: 10px 0;
}

/* 留言歷史 */
#mesHis {
    margin-top: 30px;
    background-color: #d8ddcf;
    margin-left: 0%;
    padding: 20px 40px;
    color: #1e232d;
    border-radius: 20px;
}

#mesHis .headDiv:not(:first-child) {
    margin-top: 30px;
}

#mesHis .headDiv:not(:last-of-type) {
    border-bottom: 1px solid #664c43;
}

.headDivPic {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

.headDivChi {
    height: 70px;
}

.headDiv>.headDivChi>* {
    display: inline-block;
}

.headDiv>.headDivChi>p {
    font-size: 20px;
}

.noComment p {
    font-size: 20px;
}

.headDivChi2>* {
    /* display: inline-block; */
    font-size: 20px;
}

.headDivChi2 {
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.commentContent {
    white-space: break-spaces;
}

.headDivChi2>button {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    margin-left: 70%;
    cursor: pointer;
    color: rgb(42, 42, 42);
}

.headDivChi2>button:hover {
    color: rgb(160, 155, 155);
    cursor: pointer;
}

#artCon {
    white-space: pre-wrap;
}

/* 留言 */
.formPic {
    display: flex;
    align-items: center;
}



#mes {
    margin-top: 30px;
    background-color: #d8ddcf;
    margin-left: 0%;
    padding: 40px;
    color: #664c43;
    border-radius: 20px;
}

#mes>form>div:nth-child(1)>img {
    height: 60px;
    border-radius: 50px;
}

#mes>form>div:nth-child(1)>* {
    display: inline-block;
}

#mes>form>div:nth-child(1)>p {
    font-size: 20px;
    position: relative;
    top: -20px;
}

input[type="submit"],
input[type="button"] {
    font-size: 20px;
    border: transparent;
    background-color: #b1bba0;
    display: block;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(80, 78, 78);
    cursor: pointer;
}

#feelcom {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #d8ddcf;
    border: transparent;
    resize: none;
    position: relative;
    left: 10px;
    color: #1e232d;
}

textarea:focus {
    outline: transparent;

}

#mes>form> :last-child>input[type="submit"] {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    position: relative;
    margin-left: 70%;
}

#mes>form> :last-child>input[type="submit"]:hover {
    color: rgb(160, 155, 155);
    cursor: pointer;
}

.formPic img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}


.formPic p {
    font-size: 20px;
    margin-left: 5px;
}

.bi-pencil-square,
.bi-trash3 {
    /* position: relative; 
    top: -30px; */
    font-size: 20px;
    color: #664c43;
    cursor: pointer;
    /* margin-left: 500px; */
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
    position: relative;
    top: -60px;
}

.editbt {
    margin-left: 25%;
}

.editComment {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #d8ddcf;
    border: transparent;
    resize: none;
    position: relative;
    left: 10px;
    color: #1e232d;
}

/* 側邊欄 */
.column2 {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: #d8ddcf;
}

.column2 h1 {
    text-align: center;
}

.article2 {
    background-color: #f8f6f2;
    margin: 0 5% 5% 5%;
    padding: 20px;
    border-radius: 10px;
}

.article2:hover {
    /* transform: translateY(-10px); */
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 #B1BBA0;
}

.article2Con h3 {
    margin: 0;
}

.newpic {
    height: 40px;
    width: 40px;
    margin: 10px 0;
    border-radius: 20px;
    vertical-align: middle;

    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.linking2 {
    text-decoration: none;
    color: #664c43;
}

@media screen and (max-width: 1200px) {
    #content>div:nth-child(1)>img:last-child {
        left: 60%;
    }

    #content>div:nth-child(1)>i {
        display: inline-block;
        position: relative;
        top: -40px;
        left: 60%;
        color: crimson;
        font-size: 40px;
        cursor: pointer;
    }

}

@media screen and (max-width: 600px) {
    #content>div:nth-child(1)>img:last-child {
        left: 50%;
    }

    .column2 {
        display: none;
    }

    .row {
        display: flex;
        justify-content: center;
        justify-items: center;

        margin-left: -10%;
        margin-bottom: 10%;
    }


    h1 {
        font-size: 20px;
    }

    #content {
        margin-top: 0%;
        margin-left: -7%;
        background-color: #d8ddcf;
        width: 100%;
        padding: 40px;
        font-size: 18px;
    }

    #content>div:nth-child(1)>img:nth-child(1) {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        position: relative;
        top: -15px;
        left: -1%;
    }

    #content>div:nth-child(1)>div {
        font-size: 20px;
        position: relative;
        top: -30px;
        left: 1%;
    }

    #content>div:nth-child(1)>i {
        display: inline-block;
        position: relative;
        top: -25px;
        left: 60%;
        color: crimson;
        font-size: 30px;
        cursor: pointer;
    }

    #content>div:nth-child(1)>i:hover {
        font-size: 40px;
    }

    #mesHis {
        margin-top: 3%;
        background-color: #d8ddcf;
        width: 100%;
        margin-left: -7%;
        padding: 40px;
    }

    .headDivChi2>* {
        display: inline-block;
        font-size: 18px;
    }

    .headDiv img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    #mes {
        margin-top: 3%;
        background-color: #d8ddcf;
        width: 100%;
        margin-left: -7%;
        padding: 40px;
    }

    textarea {
        width: 90%;
        height: 100px;
        font-size: 18px;
        background-color: #d8ddcf;
        border: transparent;
        resize: none;
        position: relative;
        left: 10px;

    }

    .icons {
        margin-left: 80%;
    }

    .editbt {
        margin-left: -5%;
    }
}