#content-container {
  padding: 100px 0;
}

h1{
  text-align: center;
  color: #664c43;
  margin-top: 0;
}

/* 表單 */
#FormContainer {
  background-color: #d8ddcf;
  width: 80%;
  margin-left: 6%;
  font-size: 25px;
  padding: 50px;
  color:#664c43;
  border-radius: 20px;
}

#preview img {
  height: 300px;
}

input[type="text"] {
  background-color: #d8ddcf;
  border: transparent;
  font-size: 25px;
  width: 100%;
  color: #664c43;
  margin: 10px 0;
}

input[type="text"]:focus {
  outline: none; /* 隱藏預設的focus樣式 */
  border-color: transparent; /* 設置邊框顏色為透明 */
}

#textarea {
  width: 100%;
  height: 300px;
  margin: 10px 0;
  font-size: 20px;
  background-color: #d8ddcf;
  border: transparent;
  resize: none;
  color: #664c43;
}

textarea:focus {
  outline: transparent;
}

#bt {
  text-align: end;
}

#bt button {
  border: transparent;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #b1bba0;
  color: #664c43;
  cursor: pointer;
}

label {
  cursor: pointer;
}

label > img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:1200px){
  #bt {
    margin-left: 75%;
  }
}


@media screen and (max-width:600px){

  #FormContainer {
    background-color: #d8ddcf;
    width: 70%;
    margin-left: 6%;
    font-size: 25px;
    padding: 50px;
    color: #333232;
  }

  #bt {
    margin-left: 70%;
  }
  
  button {
    margin-top: 30px;
    border: transparent;
    font-size: 20px;
    background-color: #b1bba0;
    color: #664c43;
    margin-left: 10px;
  }
  
  input[type="submit"]{
    margin-top: 30px;
    border: transparent;
    font-size: 20px;
    background-color: #b1bba0;
    color: #664c43;
  }

}