* {
    box-sizing: border-box;
}

#content-container {
    height:100%;
  }
  
/* 標題 */
h1 {
    text-align: center;
    color: #664c43;
}

/* 發文按鈕 */
#btPublish {
    font-size: 2em;
    border: transparent;
    background-color: #D8DDCF;
    color: #664c43;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;

    position: absolute;
    top: 15px;
    right: 30px;
}

#btPublish:hover{
    background-color: #B1BBA0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0;
}

.column1 {
    width: 60%;
    min-width: 570px;
    position: relative;
}

.column2 {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: #d8ddcf;
}

/* tab */

#tabContainer {
    width: 90%;
    margin-left: 5%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eceee7;
    border-radius: 20px 20px 0 0;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 30px;
    color: rgb(80, 78, 78);
    width: 33.3%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #d8ddcf;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b1bba0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background-color: #f8f6f2;
    padding: 20px;
}

/* 搜索匡 */
form {
    margin-left: 10%;
    margin-top: 5%;
}

form.example input[type="text"] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #664c43a0;
    float: left;
    width: 60%;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form.example button {
    width: 20%;
    padding: 1%;
    height: 45px;
    background: #b1bba0;
    color: #664c43;
    font-size: 17px;
    border: 1px solid #664c43a0;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form.example button:hover {
    background: #d8ddcf;
    color: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.unmatched{
    visibility: hidden;
    }  

/* 文章 */
.articleContainer {
    background-color: white;
    font-size: 20px;
    height: 200px;
    border: #ccc 1px solid;
}

.linking{
    text-decoration: none;
    color: #333;
}

#articles {
    background-color: #d8ddcf;
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    background-color: #f8f6f2;
    font-size: 20px;
    height: 200px;
    border: #ccc 1px solid;
    margin-bottom: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.article:hover{
    /* transform: translateY(-10px); */
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 #B1BBA0;
}

.articlePic {
    width: 200px;
    height: 100%;

    min-width: 200px;
    min-height: 200px;
    overflow: hidden;

    padding: 1px 0;

    border-radius: 10px 0 0 10px;
}

.articlePic img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.articleCon {
    /* width: 60%; */
    width: 300px;

    margin: 0 15px;
}

.searchtitle {
    overflow: hidden;
    white-space: pre-wrap;
    /* text-overflow: ellipsis; */
    font-size: 24px;
    color: #664c43;
}

.articleCon p {
    font-size: 18px;
}

.pagination {
    list-style-type: none;
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 30px;
    color: #664c43;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.pagination a {
    color: #664c43;
    text-decoration: none;
}

.page-item {
    margin: 0 10px;
}

.pagination .active {
    color: #664c43;
    background-color: #B1BBA0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0;
    text-align: center;
}

.searchtitle {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* 側邊欄 */
aside {
    width: 15%;
    background-color: #d8ddcf;
}

.article2 {
    background-color: #f8f6f2;
    margin: 0 5% 5% 5%;
    padding: 20px;
    border-radius: 10px;
}

.article2:hover {
    /* transform: translateY(-10px); */
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 #B1BBA0;
}

.article2Con h3 {
    margin: 0;
}

.newpic{
    height: 40px;
    width: 40px;
    margin: 10px 0;
    border-radius: 20px;
    vertical-align: middle;

    object-fit: cover;
    object-position: center;
    overflow: hidden;
}


.linking2 {
    text-decoration: none;
    color: #664c43;
}


@media screen and (max-width: 1200px) {

    /* #btPublish {
        font-size: 25px;
    }

    form {
        margin-left: 20%;
    } */
}

@media screen and (max-width: 600px) {
    .row {
        margin-top: 20px;
    }

    .tabContainer {
        width: 90%;
        margin: 0 10px;
    }

    #articles {
        width: 90%;
        margin: 0 auto 30px auto;
    }

    .article {
        height: fit-content;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .articlePic {
        width: 300px;
        height: 300px;

        border-radius: 0;
    }

    .articlePic img {
        width: 300px;
        height: 300px;
        border-radius: 10px;

        object-fit: cover;
        object-position: center;
    }

    .searchtitle {
        margin: 10px 0;
    }

    .articleCon p {
        margin: 10px 0;
    }    

    .column2 {
        width: 90%;
    }


}
