/* Style the tab content */
#pageHeader {
    /* color: #4B3730; */
    color: #ffffff;
    /* display: none; */
    text-align: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/03.jpg");
    background-position-y: 48%;
}

h2 {
    text-align: center;
}

hr {
    margin: 30px auto;
    width: 80%;
}

#forumRecord, #comment {
    width: 90%;
    margin: 0 auto;
}