* {
  box-sizing: border-box;
}

body {
  background-color: #D8DDCF;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#mainContent {
  background-color: #f8f6f2;
  width: 1200px;
  margin: auto;
  border-left: 1px solid #B1BBA0;
  border-right: 1px solid #B1BBA0;
}

#logo {
  text-align: center;
  background-color: #B1BBA0;
  margin: 0;
  padding: 10px 0;
  position: relative;
}

#logoImg {
  border-radius: 20px;
}

/* 登入按鈕位置 */
.noticeBell {
  font-size: 30px;
  color: #664c43;
}

#memberSection {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

#BtLogin {
  background-color: #D8DDCF;
  border-radius: 5px;
  border: transparent;
  color: #664c43;
  font-size: 16px;
  height: 32px;
}

#BtLogout {
  background-color: #D8DDCF;
  border-radius: 5px;
  border: transparent;
  color: #664c43;
  font-size: 16px;
  height: 32px;
  display: block;
  line-height: 16px;
}

#BtLogin:hover {
  background-color: #F8F6F2;
}

.memberIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  object-fit: cover;
}

.memberIcon:hover {
  opacity: 0.7;
}

/* 照片置中 */
#section1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-top: 50px;
}

.webFeature {
  width: 25%;
  padding-top: 5px 0;
  background-color: #F8F6F2;
  text-align: center;
  border-radius: 20px;
  border: 10px solid #B1BBA0;
  min-width: 300px;
  height: fit-content;
}

.webFeature:hover {
  box-shadow: 0 10px 8px 0 #D8DDCF;
}

.pngDiv {
  width: 150px;
  height: 75px;
  background-color: #f8f6f2;
  margin: -75px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 10px solid #B1BBA0;
  border-bottom: 0;
}

.homePng {
  width: 60px;
  height: 60px;
  margin-top: 50px;
  z-index: 10;
}

.txt {
  padding: 20px;
  margin-top: 25px;
}

.featureTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #664c43;
}

.featureIntro {
  color: #664c43;
  margin-bottom: 10px;
}

/* 標題置中 */
h2 {
  text-align: center;
  color: #664c43;
}

#newFeel,
#newForum {
  margin-top: 60px;
}

/* 心得卡片 */
.card {
  max-width: 300px;
  height: auto;
  margin: 50px;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 20px;
  color: #664c43;
  border: 3px solid #D8DDCF;
}

.card:hover {
  box-shadow: 0 10px 8px 0 #D8DDCF;
}

.articlePic {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h5 {
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  margin: 20px auto;
  padding: 0 20px;
}

.card p {
  margin: 0 auto;
}

.card button:hover {
  background-color: #D8DDCF;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

.slick-list {
  margin-left: 3%;
}

.slider {
  width: 100%;
}

.slick-prev {
  right: 98%;
  top: 50%;
  transform: translateY(0%);
  z-index: 200;
}

.slick-next {
  left: 98%;
  bottom: 50%;
  transform: translateY(0%);
  z-index: 200;
}

.slick-prev:before,
.slick-next:before {
  color: #B1BBA0;
  font-size: 35px;
}

.slick-dots li button:before {
  color: #B1BBA0;
}

.slick-dots li.slick-active button:before {
  color:#B1BBA0 !important;
  opacity: 1;
}

#footer {
  background-color: #B1BBA0;
  height: fit-content;
  margin: 60px 0 -20px 0;
  color: #664c43;
  font-size: 20px;
  padding: 0 30px;
}

#left {
  padding: 20px 0;
  text-align: center;
}

.footerMenu {
  line-height: 70px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #D8DDCF;
  border-bottom: 1px solid #D8DDCF;
}

.footerMenu li {
  float: left;
  list-style-type: none;
}

.footerMenu li a {
  display: flex;
  color: #664c43;
  text-decoration: none;
  line-height: 70px;
  padding: 0 1em;
}

.footerMenu li a:hover {
  background-color: #a1ac8e;
  color: #ffffff;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1200px) {
  #logo {
    margin: 0;
    padding: 10px 0;
  }
  
  #logoImg {
    height: 100px;
  }

  #memberSection {
    top: 20px;
    right: 20px;
  }

  #mainContent {
    width: 100%;
  }

  .column {
    width: 30%;
    margin-bottom: 5%;
  }

  .webFeature:nth-child(-n+2) {
    margin-bottom: 100px;
  }

  .sliderContainer {
    margin-left: 1%;
    padding: 20px;
  }

  .slick-prev {
    margin-left: 10px;
  }

  .slick-next {
    /* left: 99%; */
    right: 5%;
  }

  #left {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    height: 70px;
  }

  #logoImg {
    float: left;
    position: relative;
    left: 30px;
    height: 50px;
  }

  #memberSection {
    top: 20px;
    right: 30px;
  }

  .memberIcon {
    height: 30px;
    width: 30px;
    border: 0;
    padding: 0;
  }

  .column {
    width: 70%;
    margin-bottom: 5%;
  }

  .sliderContainer {
    margin-left: 15%;
    padding: 20px;
  }

  .slick-prev {
    margin-left: -40px;
  }

  .slick-next {
    left: 90%;
    transform: translateY(0%);
  }

  .slick-dots {
    left: -45px;
  }
}