* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    text-align: center;
    color: #664c43;
    margin: 30px 0;
}

hr {
    width: 80%;
    margin: 30px auto;
}

#mainContent {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    margin: auto;
    font-size: 24px;
}

.leftBarSection {
    width: 20%;
    min-width: 200px;
}

#leftBar {
    width: 100%;
    border: 1px solid #4B3730;
    height: fit-content;
    min-width: 200px;
    border-radius: 10px;
}

#leftBar ul {
    padding: 0;
    margin: 0;
}

#leftBar li {
    list-style-type: none;
    line-height: 50px;
    padding-left: 20px;
    transition: 0.4s;
}

#leftBar li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#leftBar li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#leftBar li:hover {
    background-color: #B1BBA0;
}

#leftBar a {
    text-decoration: none;
    display: block;
    color: #4B3730;
}

.current {
    background-color: #D8DDCF;
}

#mobileLeftBar {
    display: none;
    width: 90%;
    border: 1px solid #4B3730;
    margin-bottom: 30px;
    border-radius: 10px;
}

#mobileLeftBar ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
        transition: 0.4s;

}

#mobileLeftBar li {
    float: left;
    list-style-type: none;
    width: 20%;
    /* line-height: 50px; */
    text-align: center;
    white-space:pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    transition: 0.4s;
}

#mobileLeftBar li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mobileLeftBar li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mobileLeftBar li:hover {
    background-color: #B1BBA0;
}

#mobileLeftBar a {
    text-decoration: none;
    display: block;
    color: #4B3730;
}

#logoutBtn {
    background-color: #D8DDCF;
    border: 1px solid #4B3730;
    color: #4B3730;
    width: 100%;
    font-size: 24px;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.4s;
}

#logoutBtn:hover {
    background-color: #B1BBA0;
}

.pageContent {
    width: 70%;
    margin-bottom: 70px;
    border: 1px solid #4B3730;
    padding: 20px 0;
    border-radius: 10px;
}

.buttons {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operate {
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border: 1px solid #664c43;
    color: #664c43;
    background-color: #F8F6F2;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.operate:hover {
    background-color: #D8DDCF; 
}

/* for feel, forum, save */
.article,
.editArticle,
.viewArticle {
    display: flex;
    align-items: center;
    background-color: #D8DDCF;
    margin: 10px auto;
    padding: 15px 20px;
    border-radius: 10px;
}

.articleDate {
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}

.articleTitle {
    width: 50%;
    padding: 0 5px 0 20px;
}

.editArticle .operate:hover,
.viewArticle .operate:hover {
    background-color: #B1BBA0; 
}

.articleTitleComment {
    width: 70%;
}

.articleTitleComment .articleTitle{
    width: 100%;
    margin-bottom: 5px;
}

.articleComment {
    font-size: 18px;
    display: flex;
    justify-content: left;
    padding: 0 5px 0 20px;
}

.viewArticle .buttons {
    width: 20%;
}

.article a {
    /* text-decoration: none; */
    color: #664c43;
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 800px) {
    #leftBar {
        display: none;
    }

    .leftBarSection {
        /* margin: 0 auto; */
        width: 100%;
        display: block;
        margin: auto;
    }

    #mobileLeftBar {
        display: block;
        margin: 0 auto;
    }

    #logoutBtn {
        display: block;
        width: 20%;
        margin: 20px auto;
    }

    .pageContent {
        width: 90%;
        margin-bottom: 70px;
        border: 1px solid #4B3730;
        padding: 30px 0;
    }
}

@media screen and (max-width: 600px) {}