#weather {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 70px;
    padding-top: 50px;
  }

#weather table {
    /* table-layout: fixed; */
    /* width: 100%; */
    text-align: center;
    position: relative;
    border-collapse: collapse;
}

#weather thead {
    font-size: 20px;
}

#weather table,
tr,
td {
    border: 2px solid black;
    padding: 8px;
    width: max-content;
    height: 50px;
}


#weather td>img {
    width: 80px;
}

#weather select {
    width: 150px;
    height: 36px;
    cursor: pointer;
    margin: 0 10px;
}

#weather form>span {
    font-size: 20px;
}

#weather .t1 {
    font-size: 18px;
    width: 100px;
    background-color: rgb(112, 205, 238);
    position: sticky;
    left: 0;
    /* border-right: 2px solid black; */
    /* z-index: 1; */
}

#weather .tablesticky {
    width: 100%;
    height: fit-content;
    overflow: auto;
    border: 1px solid black;
}
